body {
  color: rgb(0,0,0);
  font-family: 'Poppins';
  font-size: 16px;
  margin: 15px;
}

h1 {
  text-align: left;
  font-size: 1em;
}

h2 {
  font-size: 0.75em;
  color: rgb(210,210,210);
}

img {
  display: flex;
  padding: 15px;
  border-radius: 10px;
}
a {
  color: rgb(0,0,0)
}
a:hover {
  color: rgb(180,180,180)
}
.underline {
text-decoration: underline;
}
.invisiblelink {
  text-decoration: none;
  color: white;
}

.invisiblelink:hover {
  color: white;
}

#producttitle {
  color: black;
}
li {
  margin: 5px;
}

ul {
  list-style: none;
}
button {
    font-size: 0px;
    border-width: 1px;
    text-decoration: none;
    border-style: none;
    background-color: white;
  }
  .newbuttons {
    width: 70px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
  }
.social-media-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.social-media-icon:hover {
  text-decoration: none;
}
  #mediaicons {
    font-size: 40px;
    color: white;

  }
  #upperfooter {
    padding: 30px;
  }
  div.contrast {
       background-color: rgb(10,90,40);
       color: rgb(10,255,15);
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
  }
  .fa-facebook {
    color: white;
  }
  .fa-twitter {
    color: white;
  }
  .fa-pinterest {
    color: white;
  }
  .fa-instagram {
    color: white;
  }
div.footer {
  background-color: rgb(250,250,250)
}
nav.navbar {
  background-color: rgb(250,250,250)
}
.navbar-brand {
  font-size: 2em;
}

.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.1rem;
  width: 15%;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}


.imgswap {
       width: 100%;
       height: 100%;
       position: relative;
       display: inline-block;
   }
   .imgswap .img-top {
       display: none;
       position: absolute;
       top: 0;
       left: 0;
       z-index: 99;
       width: 100%;
       height: 100%;
   }
   .imgswap:hover .img-top {
       display: inline;
   }


   .textcarousel1 {
     color: white;
     font-size: 2em;
     text-align: center;
     bottom: 80%;
     text-shadow: 2px 2px 8px rgb(50,50,50);
   }

   .nav-link {
     padding: 0px;
   }

   .nav-link-shopping {
     padding-right: 10px;
   }

   .navbar-brand-logo {
     padding-left: 10px;
   }

   .blacktext {
     color: black;
   }

.footer-links {
  color: rgb(0,120,10);
}

.dropbtn {
  background-color: rgb(200,220,200);
  color: black;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: green;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  font-size: 14px;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}


.textareainput {
  width: 100%;
  margin: 8px 0;
  padding: 5px;
}

